header,nav,section,div,footer,ul,dd {margin:0;padding:0;}
li{list-style: none;}
dt {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 5px;
}

dl {
	float: left;
	width : 75%;
}

dd {
	font-size: 0.9em;
}

.mainHeader{
	height:200px;
	text-align: center;
	padding-top: 20px;
	line-height: 1.4em
}

.userId {
	font-size: 1.2em;
    font-weight: bold;
}

.userMessage, .userSNSInfo {
	font-size: 0.8em;
	color : gray;
}

.userSNSInfo {
	overflow: auto;
    width: 255px;
    margin: 0px auto;
}

.userSNSInfo > li {
	float: left;
	margin-right: 5px;
	width : 80px;
}

.userSNSInfo span.count {
	color : #1FB820;
}

.mainView > nav {
	height:40px;
	margin-top: 10px;
	overflow: auto;
	border-bottom: 1px solid rgb(228, 228, 228);
	border-top: 1px solid rgb(228, 228, 228);
}

.tab {
	border-right: 1px solid rgb(228, 228, 228);
	float:left;
	height:100%;
	line-height: 40px;
	text-align: center;
	width:24.5%;
	cursor: pointer;
}

.tab:last-child {
    border-right: 0px;
}


.mainView > section {
	display:none;
	padding:8%;
	line-height: 1.5em;
}

.mainView > section.eleDisplayShow {
	display:block;
	padding:8%;
	line-height: 1.5em;
}

.myName {
    font-size: 1.2em;
    font-weight: bold;
}

.myDesc {
	font-size: 0.8em;
}

.eleDisplayShow li {
	margin-bottom: 8%;
}

.selectedTab {
	background-color: #DF9274;
	color: #fff;
}